  <div class="row justify-content-md-center">
    <div class="col col-lg-2">

		<div class="box" style="width: 100%; margin-top:100%; text-align:center;">
			<h2>What you want to be?</h2>
		     <input type="text" class="form-control" id="search" placeholder="cyber securit researcher">
		     <br>
			<button type="button" id="button" class="btn btn-outline-success">Search</button>
		</div>
	</div>
</div>

<script>

	button.addEventListener('click',function(e) {
		
		window.location.replace("/main/show/"+search.value);

		

	})

</script>